<p>
  <b>Name:</b>
  <%=h @thing_type1.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @thing_type1.address %>
</p>

<p>
  <b>Number of peaches:</b>
  <%=h @thing_type1.number_of_peaches %>
</p>


<%= link_to 'Edit', edit_thing_type1_path(@thing_type1) %> |
<%= link_to 'Back', thing_type1s_path %>