<p>
  <b>Width:</b>
  <%=h @thing_type2.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @thing_type2.height %>
</p>

<p>
  <b>Description:</b>
  <%=h @thing_type2.description %>
</p>


<%= link_to 'Edit', edit_thing_type2_path(@thing_type2) %> |
<%= link_to 'Back', thing_type2s_path %>